.main-footer {
  color: #893b67;
  display: flex;
  width: 100%;

  &__links-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;

  }
  &__contacts {
    display: flex;
    flex-direction: column;
    width: 445px;

  }

}