@import 'reset-css';
@import 'mixins';
@import "blocks/header";
@import "blocks/notification";
@import "blocks/navigation-menu";
@import "blocks/similar";
@import "blocks/arrow";
@import "blocks/main-footer";
@import "blocks/social";
@import "blocks/section-links";
@import "blocks/news";
@import "blocks/layout";

@font-face {
  font-family: "Vida 31 Pro"; /* Гарнитура шрифта */
  src: url("../font/vida31pro.otf"); /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: "Vida 33 Pro"; /* Гарнитура шрифта */
  src: url("../font/vida33pro.otf"); /* Путь к файлу со шрифтом */
}

body {
  font-family: "Vida 31 Pro";
}
